<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%> 
<main>
    <% if(products?.length > 0) { %>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <p><%= product.productData.title %> (<%= product.qty %>)</p>
                    <form action="/cart-delete-item %>" method="POST">
                        <input type="hidden" name="productId" value="<%= product.productData.id %>" />
                        <input type="hidden" name="quantity" value="<%= product.qty %>"/>
                        <button type="submit" class="btn">Remove from cart</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <% }else { %>
            <h1>No products in cart!!</h1>
        <% } %>
</main>
<%- include('../includes/end.ejs') %>
