<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%> 
<main>
    <% if(products?.length > 0) { %>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <h5><%= product.productData.title %> (<%= product.qty %>)</h5>
                    <form action="/cart/remove/<%= product.id %>" method="POST">
                        <input type="hidden" name="productId" value="<%= product.productData.id %>">
                        <input type="hidden" name="quantity" value="<%= product.qty %>">
                        <input type="hidden" name="price" value="<%= product.productData.price %>">
                        <button type="submit">Remove from cart</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <% }else { %>
            <h1>No products in cart!!</h1>
        <% } %>
</main>
<%- include('../includes/end.ejs') %>
